@font-face {
  font-family: "Vazir";
  src: url("../public/fonts/Vazir.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Vazir";
  src: url("../public/fonts/Vazir-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
